@using dotnet_html_sortable_table.Models;
@model IEnumerable<Accounts>

<tbody id="tablecontent">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePrefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleInitial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersMaidenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeInYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightInKgs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuarterOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthNameOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOWOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDOW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeInCompanyYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPercentHike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            *@
        </tr>
}
</tbody>


